<div class="container">
    <div class="jumbotron">

        <div class="row">

            <div class="col-md-9">
                <div class="btn-group">
                    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
                    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Producto" asp-action="Index">Productos</a>
                    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Proveedor" asp-action="Index">Proveedores</a>
                    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Empleado" asp-action="Index">Empleados</a>
                    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Vestas" asp-action="Index">Ventas</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="ETL" asp-action="Index">E T L</a>
                </div>
            </div>

        </div>

    </div>
    @model ProductoModel
    <div class="jumbotron">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#sucursal1" role="tab" aria-controls="home" aria-selected="true">Sucursal 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#sucursal2" role="tab" aria-controls="profile" aria-selected="false">Sucursal 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#sucursal3" role="tab" aria-controls="contact" aria-selected="false">Sucursal 3</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="sucursal1" role="tabpanel" aria-labelledby="home-tab">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>C&oacute;digo</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                    @foreach (ProductoModel temp in ViewBag.Producto_Sucursal1)
                    {
                        <tr>
                            <td>@temp.id_producto</td>
                            <td>@temp.codigo_producto</td>
                            <td>@temp.nombre</td>
                            <td>@temp.precio</td>
                            <td>@temp.cantidad</td>
                        </tr>

                    }
                </table>
            </div>
            <div class="tab-pane fade" id="sucursal2" role="tabpanel" aria-labelledby="profile-tab">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>C&oacute;digo</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                    @foreach (ProductoModel temp in ViewBag.Producto_Sucursal2)
                    {
                        <tr>
                            <td>@temp.id_producto</td>
                            <td>@temp.codigo_producto</td>
                            <td>@temp.nombre</td>
                            <td>@temp.precio</td>
                            <td>@temp.cantidad</td>
                        </tr>

                    }
                </table>
            </div>
            <div class="tab-pane fade" id="sucursal3" role="tabpanel" aria-labelledby="contact-tab">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>C&oacute;digo</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                    @foreach (ProductoModel temp in ViewBag.Producto_Sucursal3)
                    {
                        <tr>
                            <td>@temp.id_producto</td>
                            <td>@temp.codigo_producto</td>
                            <td>@temp.nombre</td>
                            <td>@temp.precio</td>
                            <td>@temp.cantidad</td>
                        </tr>

                    }
                </table>
            </div>
        </div>
    </div>
</div>